BP_ADMIN_ADDR=:8080
BP_VIEWER_ADDR=:8090
BP_DATABASE_PATH=./data/bangumi-pipeline.db
BP_ADMIN_WEB_DIR=./frontend/apps/admin/dist
BP_VIEWER_WEB_DIR=./frontend/apps/viewer/dist
BP_COVER_DIR=./data/images/bangumi
BP_BANGUMI_API_URL=https://api.bgm.tv
BP_BANGUMI_USER_AGENT=your-bangumi-id/BangumiPipeline/0.1
BP_COOKIE_SECURE=false